<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>email_signauture_tool</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../static/css/styles.min.css" th:href="@{/css/styles.min.css}"/>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="#">email_signature_tool</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/single">Single</a></li>
                    <li class="nav-item"><a class="nav-link" href="/multi">Multi</a></li>
                    <li class="nav-item"><a class="nav-link" style="color: coral;" href="/edit">Edit Your Signature Details</a></li>

                </ul><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="#" style="background: var(--dark);">Ask For Help..</a></span>
            </div>
        </div>
    </nav>
    <div class="text-warning contact-clean" style="background: rgb(255,255,255);">


        <form method="post" th:action="@{/createSignature}" th:object="${signature}" style="background: var(--light);">
            <h2 class="text-center" style="color: var(--dark);">Your Signature Details</h2>
            <div  class="form-group form-row"  th:if="${param.success}">
                <div class="col-sm-3 label-column "></div>
                <div class="alert alert-success col-sm-6 input-column" > Email Signature Details Added! </div>
            </div>
            <div  class="form-group form-row"  th:if="${param.fail}">
                <div class="col-sm-3 label-column "></div>
                <div class="alert alert-warning col-sm-6 input-column" > Something went wrong.. </div>
            </div>
            <p>https://dl.dropboxusercontent.com/s/6xmiim6gs56b6bl/hlaw-email-sig.png</p>
            <div class="form-group"><input class="form-control" type="text" name="LogoUrl" id="LogoUrl" th:field="*{LogoUrl}" placeholder="Logo URL (70x70)"> </div>
            <div class="form-group"><input class="form-control" type="text" name="CompanyName" id="CompanyName" th:field="*{CompanyName}" placeholder="Company Name"></div>
            <div class="form-group"><input class="form-control" type="text" name="PhoneNumber" id="PhoneNumber" th:field="*{PhoneNumber}" placeholder="Phone Number"></div>
            <div class="form-group"><input class="form-control" type="text" name="WebAddress" id="WebAddress" th:field="*{WebAddress}" placeholder="Web Address"></div>
            <div class="form-group"><input class="form-control" type="text" name="Address" id="Address" th:field="*{Address}" placeholder="Address"></div>
            <div class="form-group"><input class="form-control" type="text" name="City" id="City" th:field="*{City}" placeholder="City"></div>
            <div class="form-group"><input class="form-control" type="text" name="State" id="State" th:field="*{State}" placeholder="State"></div>
            <div class="form-group"><input class="form-control" type="text" name="Zipcode" id="Zipcode" th:field="*{Zipcode}" placeholder="Zipcode"></div>
            <div class="form-group"><input class="form-control" type="text" name="AccentColor" id="AccentColor" th:field="*{AccentColor}" placeholder="Accent Color (#009749)"></div>

            <div class="form-group"><button class="btn btn-primary" type="submit" style="color: #e8e8e8;background: deeppink;
                                                    background: linear-gradient(90deg, deeppink 0%, coral 100%);">create</button></div>
            <div  class="form-group form-row"  th:if="${param.success}">
                <div class="col-sm-3 label-column "></div>
            <div id="signature">
                <p th:text="signature.LogoUrl">
                <p th:text="signature.CompanyName">
                <p th:text="signature.PhoneNumber">
                <p th:text="signature.WebAddress">
                <p th:text="signature.Address">
                <p th:text="signature.City">
                <p th:text="signature.State">
                <p th:text="signature.ZipCode">
                <p th:text="signature.AccentColor">

                </p>

            </div>
            </div>
        </form>







    </div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="https://github.com/mwilliams705"><i class="icon ion-social-github"></i></a><a href="https://www.linkedin.com/in/michael-williams-a81531ab/"><i class="icon ion-social-linkedin"></i></a><a href="https://twitter.com/_WiFiWhisperer"><i class="icon ion-social-twitter"></i></a></div>
            <p class="copyright">mwdesigns © 2021</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>