<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>email_signauture_tool</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../static/css/styles.min.css" th:href="@{/css/styles.min.css}"/>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="#">email_signature_tool</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/single">Single</a></li>
                    <li class="nav-item"><a class="nav-link" href="/multi">Multi</a></li>
                    <li class="nav-item"><a class="nav-link" style="color: deeppink" href="/edit">Edit Your Signature Details</a></li>
                </ul><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="#" style="background: var(--dark);">Ask For Help..</a></span>
            </div>
        </div>
    </nav>
    <div class="newsletter-subscribe">
        <div class="container">
            <div  class="form-group form-row"  th:if="${param.verify}">
                <div class="col-sm-3 label-column "></div>
                <div class="text-center alert alert-success col-sm-6 input-column" > Email Sent! </div>
            </div>
            <div class="intro">
                <h2 class="text-center">Import a CSV file.</h2>
                <p class="text-center">Make sure the CSV file has four headers: 'firstName','lastName','email','appUserJobTitle'</p>
            </div>
            <div  class="form-group form-row"  th:if="${param.fail}">
                <div class="col-sm-3 label-column "></div>
                <div class="alert alert-warning col-sm-6 input-column" > Email Already Taken! </div>
            </div>

            <form class="form-inline" method="post" enctype="multipart/form-data" action="/loadcsv">
                <div class="form-group"><input class="form-control " type="file" name="file" placeholder="*.csv"></div>
                <div class="form-group"><button class="btn btn-primary" type="submit">send</button></div>

            </form>
        </div>
    </div>
    <div  class="newsletter-subscribe" th:if="${param.verify}">
        <div id="verificationTable" class="container">
            <div class="intro">
                <h2 class="text-center">Confirm the data is correct.</h2>
                <p class="text-center">If not, send a single email to a user <a href="/"> here</a></p>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Job Title</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${users}">
                    <th scope="row" th:text="${user.email}"></th>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.appUserJobTitle}"></td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
    <div style="height: 315px;"></div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <p class="copyright">mwdesigns © 2021</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>