<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Collapsible-sidebar-left-or-right--Content-overlay.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div>
        <div class="overlay"></div>
        <div id="sidebar" class="sidebar-right" style="background: #191919;">
            <div class="sidebar-header" style="background: linear-gradient(69deg, deeppink, coral);">
                <div id="close-sidebar"><i class="fa fa-chevron-left"></i></div>
                <h2>Edit</h2>
            </div>
            <hr>
            <p>Edit the values of your signature here. Make sure the logo image is 70px in height and width.&nbsp;</p>
            <hr>
            <form>
                <div class="form-group" placeholder="derp"><input class="form-control" type="text" placeholder="Logo URL (70x70)"></div>
                <div class="form-group"><input class="form-control" type="text" placeholder="Company Name"></div>
                <div class="form-group"><input class="form-control" type="text" placeholder="Phone Number"></div>
                <div class="form-group"><input class="form-control" type="text" placeholder="Web Address"></div>
                <div class="form-group"><input class="form-control" type="text" placeholder="Address"></div>
                <div class="form-group"><input class="form-control" type="text" placeholder="City"></div>
                <div class="form-group"><input class="form-control" type="text" placeholder="State"></div>
                <div class="form-group"><input class="form-control" type="text" placeholder="Zipcode"></div>
                <div class="form-group"><input class="form-control" type="text" placeholder="Accent Color (#009749)"></div><button class="btn btn-light btn-block" type="button" style="background: linear-gradient(29deg, deeppink, coral);border-style: none;font-size: 20px;color: var(--light);">Finish</button>
            </form>
            <hr>
        </div>
        <div id="content">
            <div class="container">



                <h1>Sidebar left or right</h1>
                <p>Add "open-sidebar" class on any element to open sidebar.</p>
                <p><button class="btn btn-light open-sidebar" type="button"> Click to open sidebar</button></p>
                <p><a class="open-sidebar" href="#">Click to open sidebar</a></p>
                <p><i class="fa fa-cog open-sidebar"></i></p>
                <h2>Sidebar on the right</h2>
                <p>Add "<strong>sidebar-right</strong>" class on <strong>#sidebar</strong> to have sidebar on the right.</p>
                <h2>Edit the sidebar</h2>
                <p>Add "<strong>active</strong>" class on <strong>#sidebar</strong> to edit the content of the sidebar with BSS.</p>
                <h2>Colors of the sidebar</h2>
                <p>You just have to change the first line of the CSS with your color. That's all.</p>
                <p>#sidebar { background:<strong>#1295a7</strong>; ... </p>
                <h2>Full with into the sidebar</h2>
                <p>Add "<strong>full-width</strong>" class to element to display it whithout margins.</p>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="assets/js/Collapsible-sidebar-left-or-right--Content-overlay.js"></script>
</body>

</html>